<%- include('components/head') %>

<section class="main-container">
  <section class="section-login">
    <div class="login-container">
      <h1>Bedriftsadministrasjon!</h1>
      <h3>
        Velkommen tilbake! Administrer bedriften din med Bedriftsadministrasjon!
      </h3>
      <form id="registerForm" action="/login-submit" method="POST">
        <div class="input-group">
          <label for="epost">Epost</label>
          <input type="text" id="epst" name="epost" required />
        </div>
        <div class="input-group">
          <label for="password">Passord</label>
          <input type="password" id="password" name="password" required />
        </div>
        <button type="submit" class="btn">Logg inn</button>
      </form>
    </div>
    <div class="login-image-container">
      <img src="images/august.jpg" alt="">
    </div>  
  </section>
</section>

<%- include('components/foot') %>
